.center{
    width :100%;
    height :100%;
    display : flex ;
    margin-bottom :20px;
    box-shadow: 0px 0px 20px rgb(75, 75, 75) ;
}

.center .right{
    background-color :rgb(206, 236, 250);
    width :65%;
    height :100% ;  
    padding-left :25px;
}

.center .left{
    background-color :rgb(131, 210, 247);
    width :35%;
    height :100% ;  
}

.center .left .picture img{
    height :300px;
    width :250px;
    margin-top :20px;
}

.center .left .text1 p{
    font-weight :bolder;
    font-family: cursive ;
    margin-left :20px;
}

.center .left .text2 p{
    font-weight :lighter;
    font-family: cursive ;
    margin-left :20px;
}

.center .right h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight :bold;
    font-size :26px;
}

.center  .right .name-track {
    display: flex ;
}

.track{
    margin-left :30px;
}

textarea{
    resize: none
}

.button{
    background-color: rgb(47, 152, 223) ;
    margin: 10px ;
    height :40px;
    width :220px;
    border :none;
    color :white;
    font-family: 'Courier New', Courier, monospace ;
    font-weight: bold ;
}

.large{
    width :600px;
}

input{
    padding-left :10px;
}
